.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  .blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    background: #000 url("../assets/bg.jpeg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
  }
}

.content {
  position: relative;
  width: 320px;
  height: 520px;

  app-card,
  app-upload,
  app-font-color {
    position: absolute;
    width: 320px;
    height: 520px;
    background-color: gray;
  }

  .qr {
    position: absolute;
    bottom: 20px;
    left: 135px;
    width: 50px;
    height: 50px;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.tool-bar {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  z-index: 1;

  .handle {
    position: relative;
    text-align: center;
    background-color: #fff;
    border-radius: 28px;
    width: 200px;
    height: 40px;
    transition: all 0.7s ease-in-out;
    input {
      position: absolute;
      left: 28px;
      width: calc(100% - 84px);
      height: 40px;
      outline: 0;
      border: none;
      background-color: transparent;
      font-size: 20px;
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
    }
  }

  .btn {
    width: 80px;
    border-radius: 20px;
  }
  .tips {
    color: #fff;
    font-size: 16px;
  }
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
