<app-wellcome *ngIf="step === 'wellcome'" (plan)="planHandle()"></app-wellcome>

<section class="main" *ngIf="step === 'main'">

    <app-plan-list [@planScale]="planScale"></app-plan-list>

    <div class="mask" [hidden]="bgbarSlide !== 'slideOut' && colorSlide !== 'slideOut'" (click)="hideBar()"></div>

    <app-input></app-input>

    <app-background-bar [@slide]="bgbarSlide" (click)="showBgBar()"></app-background-bar>
    
    <app-font-color-bar [@colorSlide]="colorSlide" (click)="showColorBar()"></app-font-color-bar>

</section>
