<p>Medium is not like any other platform on the internet. Our sole purpose is to help you find compelling ideas,
    Medium is not like any other platform on the internet. Our sole purpose is to help you find compelling ideas,
    Medium is not like any other platform on the internet. Our sole purpose is to help you find compelling ideas,
    knowledge, and perspectives. We don’t serve ads—we serve you, the curious reader ...</p>
    <button mat-raised-button class="btn-plan" (click)="start()">立即开始</button>