:host {
    position: relative;
    box-sizing: border-box;
    padding: 30px;
    font-size: 16px;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 100%;
}